{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.renta }}
<section class="single-page-header bg-renta" id="renta">

</section>
{{ if .enable }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                {{ with .titleSection }}<h2>{{.}}</h2>{{ end }}
                {{ with .description | safeHTML }}<h6>{{.}}</h6>{{ end }}
            </div>
            <div class="col-md-6  ">
                {{ with .img2 }}<img class="img-fluid shadow rounded" src="{{ . | absURL }}" />{{ end }}
            </div>
            <div class="col-lg-6 card shadow pt-2 mb-4">
                <div class="row">
                    <div class="col-6">
                        {{ with .rehabilitacion | safeHTML }}<p>{{.}}</p>{{ end }}
                    </div>
                    <div class="col-6">
                        {{ with .curacion | safeHTML }}<p>{{.}}</p>{{ end }}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 card shadow pt-2">
                <div class="row">
                    <div class="col-6">
                        {{ with .ortopedia | safeHTML }}<p>{{.}}</p>{{ end }}
                    </div>
                    <div class="col-6">
                        {{ with .diagnostico | safeHTML }}<p>{{.}}</p>{{ end }}
                        {{ with .equipo | safeHTML }}<p>{{.}}</p>{{ end }}

                    </div>
                </div>
            </div>
            <div class="col-md-6  ">
                {{ with .img1 }}<img class="img-fluid shadow rounded" src="{{ . | absURL }}" />{{ end }}
                {{ with .img3 }}<img class="img-fluid shadow rounded pt-2" src="{{ . | absURL }}" />{{ end }}

            </div>
            <div class="col-md-6 mt-3 ">
                {{ with .img4 }}<img class="img-fluid shadow rounded" src="{{ . | absURL }}" />{{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ partial "contact.html" . }}

{{ end }}