
{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.work }}
    <section class="single-page-header bg-work" id="work"  >

    </section>
    {{ if .enable }}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center ">
                    {{ with .titleSection }}<h2>{{.}}</h2>{{ end }}
                    {{ with .description1 | safeHTML }}<h6>{{.}}</h6>{{ end }}

                </div>
                <div class="col-md-6 ">
                    <div class="col-12">
                        {{ with .description2 | safeHTML }}<h6>{{.}}</h6>{{ end }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}

{{ partial "contact.html" . }}

{{ end }}