{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}


{{ partial "philosophy.html" . }}

{{ with $data.about }}



<section class="single-page-header bg-about" >
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h3>{{.headerTitle}}</h3>
            </div>
        </div>
    </div>
</section>
{{ end }}


{{ partial "about-sm.html" . }}


<!-- {{ partial "team.html" . }} -->

{{ partial "cta.html" . }}

{{ end }}

 