{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.testimonial }}
    {{ if .enable }}
    <section class="menufix" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{ "<!-- testimonial wrapper -->" | safeHTML }}
                    <div class="testimonial-slider">
                        {{ range .item }}
                        {{ "<!-- testimonial single -->" | safeHTML }}
                        <div class="item text-center">
                            <i class="tf-ion-quote"></i>
                            {{ "<!-- client quote -->" | safeHTML }}
                            <div class="client-details">
                                <p>{{ .quote }}</p>
                            </div>
                            {{ "<!-- client photo -->" | safeHTML }}
                            <div class="client-thumb">
                                <img src="{{ .clientThumb | absURL }}" class="img-fluid" alt="client-image">
                            </div>
                            <div class="client-meta">
                                <h4>{{ .clientName }}</h4>
                                <span>{{ .clientDesignation }}</span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ "<!-- End Section -->" | safeHTML }}
    {{ end }}
{{ end }}
