{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.about }}
    {{ if .enable }}
    <section class="about section-sm" id="about">
        <div class="">
            <div class="row mt-50 justify-content-center">
                <div class="col-12 col-md-5 col-sm-12 text-center">
                    
                    <img src="{{ .image1 | absURL }}" class="img-fluid rounded shadow" alt="about-image">
                    
                </div>
                <div class="col-12 col-md-5 col-sm-12 text-center">
                    <img src="{{ .image2 | absURL }}" class="img-fluid rounded shadow" alt="about-image">
                </div>
            </div>
            <div class="row mt-50 justify-content-center">
                <div class="col-12 col-md-5 col-sm-12 text-center">
                    <img src="{{ .image1 | absURL }}" class="img-fluid rounded shadow" alt="about-image">
                </div>
                <div class="col-12 col-md-5 col-sm-12 text-center">
                    <img src="{{ .image2 | absURL }}" class="img-fluid rounded shadow" alt="about-image">
                </div>
            </div>
            <div>
                <a href="/es/service/"> 
                <button class="text-center" >ver mas..</button>
            </a>
            </div>
        </div>
    </section>
    {{"<!-- About section End -->" | safeHTML}}
    {{ end }}
{{ end }}
