{{ if .Site.Params.aboutSm.enable }}
{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray text-center" id="about">
    <div class="">
        <div class="">
            <div class="col-md-10 offset-md-1">
                {{ with .Site.Params.aboutSm.title }}
                    <h1>{{ . }}</h1>
                    <spam class="about-24"></spam>
                {{ end }}
            </div>
            <div class="textoSm col-md-8 offset-md-2">
                {{ with .Site.Params.aboutSm.description }}
                    <h6 class="text-dark">{{ . | markdownify }}</h6>
                {{ end }}
                {{ with .Site.Params.aboutSm.description1 }}
                    <h6 class="text-dark">{{ . | markdownify }}</h6>
                {{ end }}
                {{ with .Site.Params.aboutSm.description2 }}
                <h6 class="text-dark">{{ . | markdownify }}</h6>
            {{ end }}
            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}