

{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}

<section class="contact-us section bg-gray " >
    <div class="container">
        <div class="row">
            <div class="" id="contact">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ "<!-- Contact Details -->" | safeHTML }}
            <div class="col-lg-5 col-md-12 ">
                <div class="map-responsive img-fluid    ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1683.831339430805!2d-114.78110721843638!3d32.42819263091574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d64eee0790c28f%3A0x969d571d9c45c282!2sClinica%20Santa%20Maria%20de%20Guadalupe!5e0!3m2!1sen!2smx!4v1591826917909!5m2!1sen!2smx" width="360" height="400" frameborder="1" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ">
                <div class="address-block contact-meta-block">
                    <i class="tf-ion-android-pin text-dark"></i>
                    <h4>{{.Site.Params.contact.Naddress}}</h4>
                    {{ with .Site.Params.contact.address }}<p>{{ . | safeHTML }}</p>{{ end }}
                    <i class="tf-ion-android-mail"></i>
                    <h4>{{.Site.Params.contact.Nmail}}</h4>
                    {{ with .Site.Params.contact.correo1  }}<p>{{ . | safeHTML }}</p>{{ end }}
                    

                </div>
                
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ">
                <div class="social-icons-block contact-meta-block">
                    <i class="tf-ion-ios-contact"></i>
                    <h4>{{.Site.Params.contact.Nredes}}</h4>
                    <ul class="list-inline social-icon">
                        {{ with .Site.Params.contact.facebook }}
                        <li class="list-inline-item">
                            <a href="{{.}}" target="_blank">
                                <i class="tf-ion-social-facebook"></i>
                            </a>
                        </li>
                        {{ end }}
                        <a href="{{.Site.Params.contact.facebook}}" target="_blank">
                            <p>
                                {{ with .Site.Params.contact.face }} {{.}} {{ end }} 
                           </p>  
                        </a>
                                     
                      </ul>
                    
                    <i class="tf-ion-ios-telephone mt-3"></i>
                    <h4>{{.Site.Params.contact.Nnumber}}</h4>
                    <p>
                         {{ with .Site.Params.contact.phone }}Telefono: {{.}} {{ end }} 
                    </p>
                </div>
            </div> 

        </div>
    </div>
</section>
{{ end }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.donate }}
<section class="single-page-header bg-donatenow " id="donate"  >
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h4 class="mt-4">{{.donatetitle}}</h4>
            </div>
            <div class="col-12">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick" />
					<input type="hidden" name="hosted_button_id" value="3G469GD5RTC2A" />
				   <a><button class="btn btn-warning btn-lg font-weight-bold text-white mt-2" name="submit">{{ .donar }}</button></a>
					<img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
				</form>
                </div>
                <div class="col-md-8 offset-md-2">
                    <p class="text-white mt-3">{{.donatesubtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}