{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.cta }}

{{ if .enable }}
{{ "<!-- Start Call To Action -->" | safeHTML }}
<section class="call-to-action section" style='background-image: url("{{ .bg | absURL }}");'>
    <div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				{{ with .title }}<h2>{{ . }}</h2>{{ end }}
                {{ with .subtitle }}<h6>{{ . | safeHTML }}</h6>{{ end }}
				{{ with .btnText }}<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick" />
					<input type="hidden" name="hosted_button_id" value="3G469GD5RTC2A" />
				   <a><button class="btn btn-warning btn-lg font-weight-bold text-white mt-2" name="submit">{{ . }}</button></a>
					<img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
				</form>{{ end }}
			</div>
		</div>
	</div>
</section>
{{ "<!-- Start Call To Action -->" | safeHTML }}
{{ end }}

{{ end }}
