   <!-- <div class="bg-success text-center p-2">
        
        {{ with .Site.Params.donation }}
        <div><b class="text-white">{{ .title }}</b> <a href="/es/donate" class="ml-1 btn btn-sm btn-light text-dark">{{ .titleButton }}</a></div>
        {{ end }}
    </div>-->
    

    <div class="">
        <div class="">
            <div class=" ">
                <nav class="navbar navbar-expand-md  navigation2 " id="español" style="display: block;" >
                  <button class="navbar-toggler text-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  >
                    <img src="/images/menu.png" >
                  </button>
                    <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
                      <ul class="navbar-nav ">
                        <li class="nav-item dropdown mt-2">
                            <a class="nav-link text-white" id="inicio" href="http://www.guadalupeslrc.org/es" >
                              INICIO
                            </a>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="quienes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              QUIENES SOMOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" id="sobre" href="http://www.guadalupeslrc.org/es/about">SOBRE NOSOTROS</a>
                              <a class="dropdown-item" id="nombre" href="http://www.guadalupeslrc.org/es/about/#name">NOMBRE Y LOGO</a>
                              <a class="dropdown-item" id="mision" href="http://www.guadalupeslrc.org/es/about">MISIÓN</a>
                              <a class="dropdown-item" id="vision" href="http://www.guadalupeslrc.org/es/about/">VISIÓN</a>
                              <a class="dropdown-item" id="valores" href="http://www.guadalupeslrc.org/es/about">VALORES</a>
                            </div>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              SERVICIOS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/general">CONSULTA GENERAL</a>  
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/laboratory">LABORATORIO</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/pharmacy">FARMACIA</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/psychology">PSICOLOGÍA</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/dentist">DENTAL</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/renta">RENTA EQUIPO MÉDICO</a>  
                            </div>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link dropdown-toggle text-white"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              CONTACTANOS
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item " href="http://www.guadalupeslrc.org/es/contact/#contact">DIRECCION</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/contact/#contact">MAPA</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/contact/#contact">TELEFONOS</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/contact/#contact">CORREO ELECTRONICO</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/es/contact/#contact">REDES SOCIALES</a>
                            </div>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link  text-white" href="http://www.guadalupeslrc.org/es/especie" id="navbarDropdownMenuLink" >
                              DONACIONES EN ESPECIE
                            </a>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link  text-white" href="http://www.guadalupeslrc.org/es/work" id="navbarDropdownMenuLink" >
                              BOLSA DE TRABAJO
                            </a>
                          </li>
                          <li class="nav-item rounded text-center">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                              <input type="hidden" name="cmd" value="_s-xclick" />
                              <input type="hidden" name="hosted_button_id" value="3G469GD5RTC2A" />
                             <a><button class="btn btn-warning font-weight-bold text-white mt-2" name="submit">DONAR</button></a>
                              <img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
                          </form>
                          </li>
                          <li class="nav-item text-center mt-1 pt-2">
                              <a class="ml-1" href="/es" ><img src="/images/lang-es.png" width="50" height="27"  ></a>
                              <a class="ml-2" href="/en"><img src="/images/lang-en.png" width="50" height="27"  ></a>
                          </li>
                      </ul>
                    </div>
                  </nav>












                  <nav class="navbar navbar-expand-md  navigation2 " id="ingles" style="display: block;" >
                    <button class="navbar-toggler text-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"  >
                      <img src="/images/menu.png" >
                    </button>
                      <div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent2">
                        <ul class="navbar-nav ">
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link text-white" id="inicio" href="http://www.guadalupeslrc.org/en" >
                              HOME
                            </a>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link dropdown-toggle text-white" href="" id="quienes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              ABOUT US
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" id="sobre" href="http://www.guadalupeslrc.org/en/about">ABOUT US</a>
                              <a class="dropdown-item" id="nombre" href="http://www.guadalupeslrc.org/en/about">NAME AND LOGO</a>
                              <a class="dropdown-item" id="mision" href="http://www.guadalupeslrc.org/en/about">MISSION</a>
                              <a class="dropdown-item" id="vision" href="http://www.guadalupeslrc.org/en/about">VISION</a>
                              <a class="dropdown-item" id="valores" href="http://www.guadalupeslrc.org/en/about">VALUES</a>
                            </div>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              SERVICES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/general">PRIMARY CARE</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/laboratory">LABORATORY</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/pharmacy">PHARMACY</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/psychology">PSYCHOLOGY</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/dentist">DENTIST</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/renta">MEDICAL EQUIPMENT RENTAL</a>                              </a>
                            </div>
                          </li>
                          <li class="nav-item dropdown mt-2">
                            <a class="nav-link dropdown-toggle text-white"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              CONTACT
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item " href="http://www.guadalupeslrc.org/en/contact/#contact">ADDRESS</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/contact/#contact">MAP</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/contact/#contact">PHONE</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/contact/#contact">EMAIL</a>
                              <a class="dropdown-item" href="http://www.guadalupeslrc.org/en/contact/#contact">SOCIAL MEDIA</a>
                            </div>
                          </li>
                          <li class="nav-item rounded text-center">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                              <input type="hidden" name="cmd" value="_s-xclick" />
                              <input type="hidden" name="hosted_button_id" value="3G469GD5RTC2A" />
                             <a><button class="btn btn-warning font-weight-bold text-white mt-2" name="submit">DONATE</button></a>
                              <img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
                          </form>
                          </li>
                          <li class="nav-item text-center mt-1 pt-2">
                            <a class="ml-1" href="/es" ><img src="/images/lang-es.png" width="50" height="27"  ></a>
                            <a class="ml-2" href="/en"><img src="/images/lang-en.png" width="50" height="27"  ></a>
                        </li>
                      </ul>
                    </div>
                  </nav>


                <div class="text-center  ">
                    
                    <a class="" href="{{ .Site.BaseURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class=" col-lg-6 col-md-12 col-sm-12">
                    </a> 

                    <a class=" " href="{{ .Site.BaseURL }}">
                      <img src="{{ .Site.Params.derecha | absURL }}" alt="{{ .Site.Title }}" class=" col-lg-5 col-md-12 col-sm-12">
                  </a> 
                  <nav class="navbar navbar-expand-lg  navigation pt-3"   ></nav>                
                
                </div>
                
            </div>
 

        </div>
        
    </div>
    


