                        {{ if .Site.Params.hero.enable }}
                        {{ "<!-- Hero Area -->" | safeHTML }}
                        <section class="hero-area">
                            <div class="container">
                                <h2 class="text-center mt-5 mb-5">{{ .Site.Params.hero.titlehero}}</h2>
                                <div class="row col-md-10 offset-md-1">


                                    <div class="col-lg-8 col-md-12 col-sm-12 ">
                                        <div class="block">
                                            {{ with .Site.Params.hero.heading1 }}
                                                <h3 class="text-dark">{{ . }}</h3>
                                            {{ end }}
                                            {{ with .Site.Params.hero.description1 }}
                                                <p>{{ . }}</p>
                                            {{ end }}
                                                {{ with .Site.Params.hero.heading2 }}
                                                    <h3 class="text-dark">{{ . }}</h3>
                                                {{ end }}
                                                {{ with .Site.Params.hero.description2 }}
                                                    <p>{{ . }}</p>
                                                {{ end }}
                                                
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-12 col-sm-12 ">
                                        {{ with .Site.Params.hero.heading3 }}
                                            <h3 class="text-dark ">{{ . }}</h3>
                                        {{ end }}
                                        {{ $data := index .Site.Data .Site.Language.Lang }}
                                        {{ with $data.clients }}
                                            {{ if .enable }}
                                   
                                            <ul class="color-gray client-service-list">
                                                {{ range .servicelist }}
                                                <li>
                                                    <i class="tf-ion-android-checkbox-outline"></i> {{ .name }}
                                                </li>
                                                {{ end }}
                                            </ul>

                                            {{ end }}
                                         {{ end }}
                                     </div>


                                </div>

                            </div>
                        </section>

                        {{ end }}