
<div id="carouselExampleCaptions" class="carousel slide"  data-ride="carousel">
  <ol class="carousel-indicators">
    {{ range $index, $element := .Site.Data.homepage.carusel.slider}}
      {{ $active := "" }}
      {{ if eq $index 0 }}
      {{ $active = "active" }}
      {{ end }}
      <li data-target="#carouselExampleCaptions" data-slide-to="{{$index}}" class="{{$active}}"></li>
      {{end}}
  </ol>
  <div class="carousel-inner">
    {{ range $index, $element := .Site.Data.en.home.carusel.slider}}
      {{ $active := "" }}
      {{ if eq $index 0 }}
      {{ $active = "active" }}
      {{ end }}
    <div class="carousel-item {{$active}}">
      <img src="{{ .small | absURL }}" class="d-block w-100" alt="{{.alternativo}}">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    {{end}}
  </div>

          <!--Aqui va texto o botones slider-->
 <!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
</div>