
{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.dentist }}
    <section class="single-page-header bg-dental"  >

    </section>
    {{ if .enable }}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center ">
                    {{ with .titleSection }}<h2>{{.}}</h2>{{ end }}
                    {{ with .description | safeHTML }}<h6 >{{.}}</h6>{{ end }}
                </div>
                <div class="col-md-6 text-center">
                    <div class="col-12">
                        <h3 class="mt-5">{{.titletime}}</h3>
                    </div>
                    <table class="table">
                          <tbody>
                          {{ range $index,  $element:= .horarios }}
                          <tr>
                            <th scope="row"></th>
{{with .day}}          <th scope="col">{{.}}</th>   {{end}}
{{with .abierto}}          <th scope="col">{{.}}</th>   {{end}}
{{with .cerrado}}              <th scope="col">{{.}}</th>   {{end}}
                          </tr>
                          {{end}}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}

{{ partial "contact.html" . }}

{{ end }}