
{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.donate }}
{{ with $data.workingprocess }}
    {{ if .enable }}
    {{ "<!-- Work Process Section Start -->" | safeHTML }}
    <section class="service-2 section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}
                            <h4>{{ . }}</h4>
                        {{ end }}
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}
                            <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {{ range $index,  $element:= .item }}
                    <div class="col-md-4 col-sm-6 p-0">
                        <div class="service-item text-center">
                            {{ with .number }}
                                <span class="count">{{ . }}.</span>
                            {{ end }}
                            {{ with .icon }}
                                <i class="{{ . }}"></i>
                            {{ end }}
                            {{ with .title }}
                                <h4>{{ . }}</h4>
                            {{ end }}
                            {{ with .description }}
                                <p>{{ . }}</p>
                            {{ end }}
                            {{ if .link }}
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                <input type="hidden" name="cmd" value="_s-xclick" />
                                <input type="hidden" name="hosted_button_id" value="3G469GD5RTC2A" />
                                <a><button class="btn btn-warning text-white mt-2" name="submit">{{ .titleButton }}</button></a>
                                <img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
                            </form>
                            {{ end }}
                        </div>
                    </div>
                    {{ if eq (mod $index 2) 1 }}
                        <div class="w-100"></div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
    {{ "<!-- Work Process section end -->" | safeHTML }}
    {{ end }}
{{ end }}

    {{ if .enable }}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}
                            <h4>{{ . }}</h4>
                        {{ end }}
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                        {{ with .subtitle }}
                            <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 align-self-center">
                    {{ with .titleSection }}<h2>{{.}}</h2>{{ end }}
                    {{ with .description | safeHTML }}<p>{{.}}</p>{{ end }}
                </div>
                <div class="col-md-6 text-center">
                    {{ with .image }}<img class="img-fluid shadow rounded" src="{{ . | absURL }}" alt="service-image"/>{{ end }}
                </div>
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}

{{ with $data.donate }}
<section class="single-page-header bg-donatenow " id="donate"  >
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h4 class="mt-4">{{.donatetitle}}</h4>
            </div>
            <div class="col-12">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="3G469GD5RTC2A" />
                    <a><button class="btn btn-warning text-white mt-2" name="submit">{{ .titleButton }}</button></a>
                    <img alt="" border="0" src="https://www.paypal.com/en_MX/i/scr/pixel.gif" width="1" height="1" />
                </form>
                </div>
                <div class="col-md-8 offset-md-2">
                    <p class="text-white mt-3">{{.donatesubtitle}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}



{{ end }}